<body>
  <h1 class="title">
    ようこそ <stong>Bookers</stong> へ！
  </h1>
  <p class="content">
    <stong>Bookers</stong>では、さまざまな書籍に関するあなたの意見や
  </p>
  <p class="content">
    印象を共有し交換することができます
  </p>
  <p class="start">
    <a href="/books">start</a>
  </p>
</body>