

table{
  isplay: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  display:table;
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

p{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}



strong{
  font-weight:bold;
}



// show
.notice{
  color: green;
}

// edit
.title, .body_text, .button{
  margin-bottom:10px;
}

.field{
  padding: 1px 2px;
}

.area{
  padding: 2px 2px;
}

.submit{
  padding: 1px 6px;
}